.dropdown-toggle::after {
  display: none !important;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-text);
  color: #555;
}
.list-group-item {
  border-style: none;
}

.my-dropdown-item {
  border: none;
  box-shadow: none;
  outline: none;
}

.form-check-input[type="checkbox"] {
  background-color: #1a2e42;
}
